/*  your css code here. If applicable */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #333;
}

.container {
    display: flex;
    width: 90vw;
}

.panel {
    position: relative;
    height: 80vh;
    flex: 0.5;
    margin: 10px;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: all 0.5s ease;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.panel.active {
    flex: 5;
}

.img-text {
    font-size: 24px;
    margin-bottom: 20px;
    color: white;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.panel.active .img-text {
    opacity: 1;
}
